.cart-container {
    position: fixed;
    left: 0;
    min-height: 100%;
    min-width: 400px;
    max-width: 30%;
    margin: 0;
    background-color: rgba(48, 48, 48, 0.7);
    /* background-color: rgba(144, 144, 144, 0.8); */
    color: whitesmoke;
    transition: 2s each-in-out;
    z-index: 60;
  }

  .cart {
    margin: 0;
    padding: 3%;
  }

  .cart-icon {
    /* font-size: 11px; */
    min-width: 10%;
    max-height: 6%;
    color: whitesmoke;
    position: fixed;
    left: 3%;
    bottom: 4%;
    display: flex;
    background-color: rgb(62, 68, 78);
    /* background-color: rgb(29, 31, 34); */
    /* border: 1px solid rgb(48, 48, 48); */
    z-index: 62;
    font-weight: 400;
    transform: scale(1.2);
  }

  .cart-icon:hover{
    transform: scale(1.4);
    transition: 0.2s ease-in-out;
    /* color: darkgray; */
  }

  .cart > .cart-icon {
    display: flex;
    justify-content: center;
    left: 16%;
    min-width: 5%;
    min-height: 6%;
  }

  .cart-image {
    background-image: url('/public/images/shopping-cart.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    align-self: flex-start;
    margin: 0px 10px 0px 0px;
  }

  .cart-text {
    align-self: center;
  }
