.cart-container {
    position: fixed;
    overflow-y: scroll;
    scroll-behavior: auto;
    left: -30%;
    min-height: 100%;
    min-width: 400px;
    max-width: 30%;
    margin: 0;
    background-color: rgba(48, 48, 48, 0.7);
    /* background-color: rgba(144, 144, 144, 0.8); */
    color: whitesmoke;
    /* transition: 2s each-in-out; */
    z-index: 60;
    animation: slidein 0.2s both;
    /* animation-delay: 2s; */
  }

  @keyframes slidein {
    0% { left: -30%; }
  }

  @keyframes slidein {
    50% { left: -5%; }
  }

  @keyframes slidein {
    100% { left: 0; }
  }

  ::-webkit-scrollbar {
    width: 18px;
    background: transparent;
  }
  ::-webkit-scrollbar-track {
    background: rgb(54,59,68);
  }
  .cart-container::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(72,149,255);
    border-radius: 30px;
    border: 3px solid rgb(54,59,68);
  }

  .cart {
    margin: 0;
    padding: 3%;
  }

  .cart-icon {
    /* font-size: 11px; */
    min-width: 100px;
    max-height: 40px;
    min-height: 40px;
    color: whitesmoke;
    position: fixed;
    left: 30px;
    bottom: 30px;
    display: flex;
    background-color: rgb(62, 68, 78);
    /* background-color: rgb(29, 31, 34); */
    /* border: 1px solid rgb(48, 48, 48); */
    z-index: 62;
    font-weight: 400;
    transform: scale(1.2);
    text-align: left;
    border-radius: 15px;
    border: transparent;
    padding: 0.5%;
    text-decoration: none;
    cursor: pointer;
    text-transform: none;
  }

  .cart-icon:hover{
    transform: scale(1.4);
    transition: 0.2s ease-in-out;
    /* color: darkgray; */
  }

  .cart > .cart-icon {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 220px;
    min-width: 50px;
    min-height: 40px;
  }

  .cart-image {
    background-image: url('/public/images/shopping-cart.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    align-self: flex-start;
    margin: 0px 10px 0px 0px;
  }

  .cart-text {
    align-self: center;
  }
