.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  /* border-top: 3px solid rgb(108,119,137); */
  border-top: 3px solid rgb(29,31,34);
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 20% 5% 20%;
  padding: 5%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 