body {
    /* background-color: rgb(29, 31, 34); */
    background-color: rgb(223, 223, 223);
    /* margin: 0; */
}

hr {
    margin: 0;
    border: 0px solid rgb(54,59,68);
}

.header {
    /* background-color: rgb(62, 68, 78); */
    background-color: rgb(72,149,255);
    /* background-color: rgb(106,169,255); */
    color: white;
    padding: 20px 100px;
    margin: 0;
    /* margin-top: 1%; */
    /* border-radius: 30px; */
    min-width: 300px;
}

.menu {
    display: flex;
    align-self: center;
    padding: 0px 60px;
    background-color: rgb(54,59,68);
}

.header-btn {
    text-align: left;
    background-color: transparent;
    border-radius: 15px;
    border: transparent;
    padding: 0.5%;
    color: gray;
    /* color: rgb(62, 68, 78); */
    text-decoration: none;
    cursor: pointer;
    text-transform: none;
}

.menu .header-btn {
    margin: 0.5%;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}

.menu .header-btn:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

.header-btn:hover {
    color: rgb(195, 195, 195);
    /* color: rgb(29, 31, 34); */
    /* color: gray; */
}

.product-filter {
    min-height: 6vh;
    /* max-height: 6vh; */
    display: flex;
    padding: 20px 0;
}
  
.sort {
    display: flex;
    align-self: flex-start;
}
  
.collection-sort {
    display: flex;
    flex-direction: column;
}
  
.collection-sort:first-child {
    padding-right: 20px;
}

label {
    /* color: #666; */
    /* color: darkgray; */
    /* color: rgb(29, 31, 34); */
    color: rgb(62,68,78);
    font-size: 11px;
    font-weight: 500;
    line-height: 2em;
    text-transform: uppercase;
}

h1 {
    /* text-transform: uppercase; */
    font-size: 32px;
    font-weight: 800;
    flex: 1;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 480px) {
    h1 {
      margin-bottom: 20px;
    }
  
    .product-filter {
      flex-direction: column;
    }
  
    .sort {
      align-self: flex-start;
    }
}
