img {
    max-width: 80%;
    max-height: 300px;
}

.container {
    display: flex;
    justify-content: center;
    padding: 5%;
}

.product-details {
    max-width: 600px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 4%;
    margin-bottom: 4%;
}

.content {
    padding: 4%;
    text-align: left;
}

.content h1, h2, h3, .content h4, h5, h6 {
    padding: 0.5%;
}